exclude car/*
exclude computer_vision/*
exclude detection/*
exclude environment/*
exclude eventcamera_sim/*
exclude imitation_learning/*
exclude multirotor/*
exclude reinforcement_learning/*
exclude segmentation/*
global-exclude setup_path.py
include cosysairsim/colormap.npy