<launch>

      <arg name="rate" default="10"/>
      <arg name="ip" default="localhost"/>
      <arg name="port" default="41451"/>

      <arg name="toggle_drone" default="0"/>

      <arg name="tf_sensors_enable" default="1"/>

      <arg name="use_route" default="0"/>
      <arg name="route_rosbag" default="./airsim_route_only.bag"/>
      <arg name="merged_rosbag" default="./airsim_sensor_data.bag"/>
      <arg name="generate_gt_map" default="0"/>

      <arg name="vehicle_name" default="airsimvehicle"/>
      <arg name="vehicle_base_frame" default="base_link"/>

      <arg name="pose_topic" default="airsim/gtpose"/>
      <arg name="map_frame" default="map"/>

      <arg name="carcontrol_enable" default="0"/>
      <arg name="carcontrol_topic" default="/airsim/carcontrol"/>

      <arg name="odometry_enable" default="1"/>
      <arg name="odometry_topic" default="airsim/odom"/>
      <arg name="odom_frame" default="odom"/>
      <arg name="tf_odom_enable" default="1"/>

      <arg name="pose_offset_x" default="0"/>
      <arg name="pose_offset_y" default="0"/>
      <arg name="pose_offset_z" default="0"/>

      <arg name="sensor_imu_enable" default="1"/>
      <arg name="sensor_imu_name" default="imu"/>
      <arg name="sensor_imu_topic" default="airsim/imu"/>
      <arg name="sensor_imu_frame" default="base_imu"/>

      <arg name="sensor_echo_names" default="[echo]"/>
      <arg name="sensor_echo_topics" default="[airsim/echo/active/pointcloud]"/>
      <arg name="sensor_echo_segmentation_topics" default="[airsim/echo/active/segmentation]"/>
      <arg name="sensor_echo_frames" default="[base_echo]"/>
      <arg name="sensor_echo_toggle_passive" default="[1]"/>
      <arg name="sensor_echo_passive_topics" default="[airsim/echo/passive/pointcloud]"/>
      <arg name="sensor_echo_passive_segmentation_topics" default="[airsim/echo/passive/segmentation]"/>

      <arg name="sensor_lidar_names" default="[lidar]"/>
      <arg name="sensor_lidar_toggle_groundtruth" default="[1]"/>
      <arg name="sensor_lidar_topics" default="[airsim/lidar/pointcloud]"/>
      <arg name="sensor_lidar_segmentation_topics" default="[airsim/lidar/segmentation]"/>
      <arg name="sensor_lidar_frames" default="[base_lidar]"/>

      <arg name="sensor_gpulidar_names" default="[gpulidar]"/>
      <arg name="sensor_gpulidar_topics" default="[airsim/gpulidar/pointcloud]"/>
      <arg name="sensor_gpulidar_frames" default="[base_gpulidar]"/>

      <arg name="sensor_uwb_names" default="[uwb]"/>
      <arg name="sensor_uwb_topic" default="airsim/uwb/ranges"/>
      <arg name="sensor_uwb_frames" default="[base_uwb]"/>

      <arg name="sensor_wifi_names" default="[wifi]"/>
      <arg name="sensor_wifi_topic" default="airsim/wifi/ranges"/>
      <arg name="sensor_wifi_frames" default="[base_wifi]"/>

      <arg name="sensor_camera_names" default="[frontcamera, backcamera]"/>
      <arg name="sensor_camera_toggle_scene_mono" default="[0, 0]"/>
      <arg name="sensor_camera_scene_quality" default="[0, 0]"/>
      <arg name="sensor_camera_toggle_segmentation" default="[1, 1]"/>
      <arg name="sensor_camera_toggle_depth" default="[1, 1]"/>
      <arg name="sensor_camera_toggle_annotation" default="[1, 1]"/>
      <arg name="sensor_camera_annotation_layers" default="[TextureTestDirect, GreyscaleTest]"/>
      <arg name="sensor_camera_scene_topics" default="[airsim/frontcamera/rgb/image, airsim/backcamera/rgb/image]"/>
      <arg name="sensor_camera_segmentation_topics" default="[airsim/frontcamera/segmentation/image, airsim/backcamera/segmentation/image]"/>
      <arg name="sensor_camera_depth_topics" default="[airsim/frontcamera/depth/image, airsim/backcamera/depth/image]"/>
      <arg name="sensor_camera_annotation_topics" default="[airsim/frontcamera/annotation/TextureTestDirect/image, airsim/backcamera/annotation/GreyscaleTest/image]"/>
      <arg name="sensor_camera_frames" default="[base_frontcamera, base_backcamera]"/>
      <arg name="sensor_camera_optical_frames" default="[frontcamera_optical_link, backcamera_optical_link]"/>
      <arg name="sensor_camera_toggle_camera_info" default="[1, 1]"/>
      <arg name="sensor_camera_info_topics" default="[airsim/frontcamera/camera_info, airsim/backcamera/camera_info]"/>
      <arg name="sensor_stereo_enable" default="0"/>

      <arg name="object_poses_all" default="0"/>
      <arg name="object_poses_all_coordinates_local" default="1"/>
      <arg name="object_poses_all_once" default="1"/>
      <arg name="object_poses_all_topic" default="airsim/objects/poses"/>

      <arg name="object_poses_individual_names" default="[Cylinder3]"/>
      <arg name="object_poses_individual_coordinates_local" default="[1]"/>
      <arg name="object_poses_individual_topics" default="[airsim/object/cylinder3/pose]"/>


      <node name="airsim_publish" pkg="airsimros" type="airsim_publish.py" respawn="false" output="screen">

            <rosparam param="rate" subst_value="True">$(arg rate)</rosparam>
            <param name="ip" type="string" value="$(arg ip)"/>
            <param name="port" value="$(arg port)"/>

            <rosparam param="toggle_drone" subst_value="True">$(arg toggle_drone)</rosparam>

            <rosparam param="use_route" subst_value="True">$(arg use_route)</rosparam>
            <rosparam param="route_rosbag" subst_value="True">$(arg route_rosbag)</rosparam>
            <rosparam param="merged_rosbag" subst_value="True">$(arg merged_rosbag)</rosparam>
            <rosparam param="generate_gt_map" subst_value="True">$(arg generate_gt_map)</rosparam>

            <rosparam param="tf_sensors_enable" subst_value="True">$(arg tf_sensors_enable)</rosparam>

            <rosparam param="vehicle_name" subst_value="True">$(arg vehicle_name)</rosparam>
            <rosparam param="vehicle_base_frame" subst_value="True">$(arg vehicle_base_frame)</rosparam>

            <rosparam param="pose_topic" subst_value="True">$(arg pose_topic)</rosparam>
            <rosparam param="map_frame" subst_value="True">$(arg map_frame)</rosparam>

            <rosparam param="carcontrol_enable" subst_value="True">$(arg carcontrol_enable)</rosparam>
            <rosparam param="carcontrol_topic" subst_value="True">$(arg carcontrol_topic)</rosparam>

            <rosparam param="odometry_enable" subst_value="True">$(arg odometry_enable)</rosparam>
            <rosparam param="odometry_topic" subst_value="True">$(arg odometry_topic)</rosparam>
            <rosparam param="odom_frame" subst_value="True">$(arg odom_frame)</rosparam>
            <rosparam param="tf_odom_enable" subst_value="True">$(arg tf_odom_enable)</rosparam>

            <rosparam param="pose_offset_x" subst_value="True">$(arg pose_offset_x)</rosparam>
            <rosparam param="pose_offset_y" subst_value="True">$(arg pose_offset_y)</rosparam>
            <rosparam param="pose_offset_z" subst_value="True">$(arg pose_offset_z)</rosparam>

            <rosparam param="sensor_imu_enable" subst_value="True">$(arg sensor_imu_enable)</rosparam>
            <rosparam param="sensor_imu_name" subst_value="True">$(arg sensor_imu_name)</rosparam>
            <rosparam param="sensor_imu_topic" subst_value="True">$(arg sensor_imu_topic)</rosparam>
            <rosparam param="sensor_imu_frame" subst_value="True">$(arg sensor_imu_frame)</rosparam>

            <rosparam param="sensor_echo_names" subst_value="True">$(arg sensor_echo_names)</rosparam>
            <rosparam param="sensor_echo_topics" subst_value="True">$(arg sensor_echo_topics)</rosparam>
            <rosparam param="sensor_echo_segmentation_topics" subst_value="True">$(arg sensor_echo_segmentation_topics)</rosparam>
            <rosparam param="sensor_echo_frames" subst_value="True">$(arg sensor_echo_frames)</rosparam>
            <rosparam param="sensor_echo_toggle_passive" subst_value="True">$(arg sensor_echo_toggle_passive)</rosparam>
            <rosparam param="sensor_echo_passive_topics" subst_value="True">$(arg sensor_echo_passive_topics)</rosparam>
            <rosparam param="sensor_echo_passive_segmentation_topics" subst_value="True">$(arg sensor_echo_passive_segmentation_topics)</rosparam>

            <rosparam param="sensor_lidar_names" subst_value="True">$(arg sensor_lidar_names)</rosparam>
            <rosparam param="sensor_lidar_toggle_groundtruth" subst_value="True">$(arg sensor_lidar_toggle_groundtruth)</rosparam>
            <rosparam param="sensor_lidar_topics" subst_value="True">$(arg sensor_lidar_topics)</rosparam>
            <rosparam param="sensor_lidar_segmentation_topics" subst_value="True">$(arg sensor_lidar_segmentation_topics)</rosparam>
            <rosparam param="sensor_lidar_frames" subst_value="True">$(arg sensor_lidar_frames)</rosparam>

            <rosparam param="sensor_gpulidar_names" subst_value="True">$(arg sensor_gpulidar_names)</rosparam>
            <rosparam param="sensor_gpulidar_topics" subst_value="True">$(arg sensor_gpulidar_topics)</rosparam>
            <rosparam param="sensor_gpulidar_frames" subst_value="True">$(arg sensor_gpulidar_frames)</rosparam>

            <rosparam param="sensor_uwb_names" subst_value="True">$(arg sensor_uwb_names)</rosparam>
            <rosparam param="sensor_uwb_topic" subst_value="True">$(arg sensor_uwb_topic)</rosparam>
            <rosparam param="sensor_uwb_frames" subst_value="True">$(arg sensor_uwb_frames)</rosparam>

            <rosparam param="sensor_wifi_names" subst_value="True">$(arg sensor_wifi_names)</rosparam>
            <rosparam param="sensor_wifi_topic" subst_value="True">$(arg sensor_wifi_topic)</rosparam>
            <rosparam param="sensor_wifi_frames" subst_value="True">$(arg sensor_wifi_frames)</rosparam>

            <rosparam param="sensor_camera_names" subst_value="True">$(arg sensor_camera_names)</rosparam>
            <rosparam param="sensor_camera_toggle_scene_mono" subst_value="True">$(arg sensor_camera_toggle_scene_mono)</rosparam>
            <rosparam param="sensor_camera_scene_quality" subst_value="True">$(arg sensor_camera_scene_quality)</rosparam>
            <rosparam param="sensor_camera_toggle_segmentation" subst_value="True">$(arg sensor_camera_toggle_segmentation)</rosparam>
            <rosparam param="sensor_camera_toggle_depth" subst_value="True">$(arg sensor_camera_toggle_depth)</rosparam>
            <rosparam param="sensor_camera_toggle_annotation" subst_value="True">$(arg sensor_camera_toggle_annotation)</rosparam>
            <rosparam param="sensor_camera_annotation_layers" subst_value="True">$(arg sensor_camera_annotation_layers)</rosparam>
            <rosparam param="sensor_camera_scene_topics" subst_value="True">$(arg sensor_camera_scene_topics)</rosparam>
            <rosparam param="sensor_camera_segmentation_topics" subst_value="True">$(arg sensor_camera_segmentation_topics)</rosparam>
            <rosparam param="sensor_camera_depth_topics" subst_value="True">$(arg sensor_camera_depth_topics)</rosparam>
            <rosparam param="sensor_camera_annotation_topics" subst_value="True">$(arg sensor_camera_annotation_topics)</rosparam>
            <rosparam param="sensor_camera_frames" subst_value="True">$(arg sensor_camera_frames)</rosparam>
            <rosparam param="sensor_camera_optical_frames" subst_value="True">$(arg sensor_camera_optical_frames)</rosparam>
            <rosparam param="sensor_camera_toggle_camera_info" subst_value="True">$(arg sensor_camera_toggle_camera_info)</rosparam>
            <rosparam param="sensor_camera_info_topics" subst_value="True">$(arg sensor_camera_info_topics)</rosparam>
            <rosparam param="sensor_stereo_enable" subst_value="True">$(arg sensor_stereo_enable)</rosparam>

            <rosparam param="object_poses_all" subst_value="True">$(arg object_poses_all)</rosparam>
            <rosparam param="object_poses_all_coordinates_local" subst_value="True">$(arg object_poses_all_coordinates_local)</rosparam>
            <rosparam param="object_poses_all_once" subst_value="True">$(arg object_poses_all_once)</rosparam>
            <rosparam param="object_poses_all_topic" subst_value="True">$(arg object_poses_all_topic)</rosparam>

            <rosparam param="object_poses_individual_names" subst_value="True">$(arg object_poses_individual_names)</rosparam>
            <rosparam param="object_poses_individual_coordinates_local" subst_value="True">$(arg object_poses_individual_coordinates_local)</rosparam>
            <rosparam param="object_poses_individual_topics" subst_value="True">$(arg object_poses_individual_topics)</rosparam>
      </node>
</launch>
