<launch>
      <arg name="rate" default="10"/>
      <arg name="ip" default=""/>
      <arg name="port" default=""/>

      <arg name="toggle_drone" default="0"/>

      <arg name="tf_sensors_enable" default="0"/>

      <arg name="vehicle_name" default="airsimvehicle"/>
      <arg name="vehicle_base_frame" default="base_link"/>

      <arg name="pose_topic" default="airsim/gtpose"/>
      <arg name="map_frame" default="map"/>

      <arg name="odometry_enable" default="1"/>
      <arg name="odometry_topic" default="airsim/odom"/>
      <arg name="odom_frame" default="odom"/>
      <arg name="tf_odom_enable" default="1"/>

      <arg name="pose_offset_x" default="0"/>
      <arg name="pose_offset_y" default="0"/>
      <arg name="pose_offset_z" default="0"/>

      <arg name="sensor_imu_enable" default="1"/>
      <arg name="sensor_imu_name" default="imu"/>
      <arg name="sensor_imu_topic" default="airsim/imu"/>
      <arg name="sensor_imu_frame" default="base_imu"/>

      <node name="airsim_record_route" pkg="airsimros" type="airsim_publish.py" respawn="false" output="screen">
            <rosparam param="rate" subst_value="True">$(arg rate)</rosparam>
            <param name="ip" type="string" value="$(arg ip)"/>
            <param name="port" value="$(arg port)"/>

            <rosparam param="toggle_drone" subst_value="True">$(arg toggle_drone)</rosparam>

            <rosparam param="tf_sensors_enable" subst_value="True">$(arg tf_sensors_enable)</rosparam>
            
            <rosparam param="vehicle_name" subst_value="True">$(arg vehicle_name)</rosparam>
            <rosparam param="vehicle_base_frame" subst_value="True">$(arg vehicle_base_frame)</rosparam>

            <rosparam param="pose_topic" subst_value="True">$(arg pose_topic)</rosparam>
            <rosparam param="map_frame" subst_value="True">$(arg map_frame)</rosparam>

            <rosparam param="odometry_enable" subst_value="True">$(arg odometry_enable)</rosparam>
            <rosparam param="odometry_topic" subst_value="True">$(arg odometry_topic)</rosparam>
            <rosparam param="odom_frame" subst_value="True">$(arg odom_frame)</rosparam>
            <rosparam param="tf_odom_enable" subst_value="True">$(arg tf_odom_enable)</rosparam>

            <rosparam param="pose_offset_x" subst_value="True">$(arg pose_offset_x)</rosparam>
            <rosparam param="pose_offset_y" subst_value="True">$(arg pose_offset_y)</rosparam>
            <rosparam param="pose_offset_z" subst_value="True">$(arg pose_offset_z)</rosparam>

            <rosparam param="sensor_imu_enable" subst_value="True">$(arg sensor_imu_enable)</rosparam>
            <rosparam param="sensor_imu_name" subst_value="True">$(arg sensor_imu_name)</rosparam>
            <rosparam param="sensor_imu_topic" subst_value="True">$(arg sensor_imu_topic)</rosparam>
            <rosparam param="sensor_imu_frame" subst_value="True">$(arg sensor_imu_frame)</rosparam>
      </node>
      <node pkg="rosbag" type="record" name="rosbag_record" args="record -o ./airsim_route_only -a"/>
</launch>
