<launch>
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link base_laser 100" />
      <node name="airsimnode" pkg="airsim" type="airsimnode.py" respawn="false" output="screen">
            <param name="camera_active" type="int" value="0" />
            <param name="lidar_active" type="int" value="1" />
            <param name="gpulidar_active" type="int" value="0" />
            <param name="imu_active" type="int" value="1" />
            <param name="pose_active" type="int" value="1" />
            <param name="carcontrol_active" type="int" value="0" />

            <param name="lidar_frame_id" type="string" value="base_laser" />
            <param name="imu_frame_id" type="string" value="base_link" />
            <param name="pose_frame_id" type="string" value="world" />

            <param name="topic_lidar" type="string" value="airsim/lidar" />
            <param name="topic_lidar_groundtruth" type="string" value="airsim/lidargroundtruth" />
            <param name="topic_imu" type="string" value="airsim/imu" />
            <param name="topic_pose" type="string" value="airsim/pose" />

            <param name="vehicle_name" type="string" value="airsimvehicle" />
            <param name="imu_name" type="string" value="imu" />
            <param name="lidar_name" type="string" value="lidar" />

            <param name="carcontrol_input_topic" type="string" value="cmd_vel" />
      </node>
      <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /mnt/c/Users/Wouter/Projects/airsim/bags/airsim_lidar -a"/>
</launch>