<launch>
      <arg name="rate" default="10"/>
      <arg name="ip" default="" />

      <arg name="toggle_drone" default="0" />

      <arg name="vehicle_name" default="airsimvehicle" />
      <arg name="vehicle_base_frame" default="base_link" />

      <arg name="pose_topic" default="airsim/gtpose" />
      <arg name="pose_frame" default="world" />

      <arg name="route_rosbag" default="./airsim_route_only.bag" />
      <arg name="merged_rosbag" default="./airsim_sensor_data.bag" />

      <arg name="sensor_echo_names" default="[echo1]"/>
      <arg name="sensor_echo_topics" default="[airsim/echo1/pointcloud]"/>
      <arg name="sensor_echo_frames" default="[base_echo1]"/>

      <arg name="sensor_lidar_names" default="[lidar1]"/>
      <arg name="sensor_lidar_toggle_groundtruth" default="[1]"/>
      <arg name="sensor_lidar_topics" default="[airsim/lidar1/pointcloud]"/>
      <arg name="sensor_lidar_segmentation_topics" default="[airsim/lidar1/segmentation]"/>
      <arg name="sensor_lidar_frames" default="[base_lidar3]"/>

      <arg name="sensor_gpulidar_names" default="[lidar2]"/>
      <arg name="sensor_gpulidar_topics" default="[airsim/lidar2/pointcloud]"/>
      <arg name="sensor_gpulidar_frames" default="[base_lidar2]"/>

      <arg name="sensor_uwb_names" default="[]"/>
      <arg name="sensor_uwb_topic" default="airsim/uwb/ranges"/>
      <arg name="sensor_uwb_frames" default="[base_uwb1, base_uwb2]"/>

      <arg name="sensor_wifi_names" default="[]"/>
      <arg name="sensor_wifi_topic" default="airsim/wifi/ranges"/>
      <arg name="sensor_wifi_frames" default="[base_wifi1, base_wifi2]"/>

      <arg name="sensor_camera_names" default="[leftcamera, rightcamera]"/>
      <arg name="sensor_camera_toggle_scene_mono" default="[0, 0]"/>
      <arg name="sensor_camera_scene_quality" default="[0, 0]"/>
      <arg name="sensor_camera_toggle_segmentation" default="[1, 1]"/>
      <arg name="sensor_camera_toggle_depth" default="[1, 1]"/>
      <arg name="sensor_camera_scene_topics" default="[airsim/leftcamera/rgb/image, airsim/rightcamera/rgb/image]"/>
      <arg name="sensor_camera_segmentation_topics" default="[airsim/leftcamera/segmentation/image, airsim/rightcamera/segmentation/image]"/>
      <arg name="sensor_camera_depth_topics" default="[airsim/leftcamera/depth/image, airsim/rightcamera/depth/image]"/>
      <arg name="sensor_camera_frames" default="[base_leftcamera, base_rightcamera]"/>
      <arg name="sensor_camera_optical_frames" default="[leftcamera_optical_link, rightcamera_optical_link]"/>
      <arg name="sensor_camera_toggle_camera_info" default="[1, 1]"/>
      <arg name="sensor_camera_info_topics" default="[airsim/leftcamera/rgb/camera_info, airsim/rightcamera/rgb/camera_info]"/>
      <arg name="sensor_stereo_enable" default="1"/>

      <arg name="object_poses_all" default="0"/>
      <arg name="object_poses_all_coordinates_local" default="1"/>
      <arg name="object_poses_all_topic" default="airsim/objects/poses"/>

      <arg name="object_poses_individual_names" default="[object_name]"/>
      <arg name="object_poses_individual_coordinates_local" default="[1]"/>
      <arg name="object_poses_individual_topics" default="[airsim/object/object_name/pose]"/>

      <node name="airsim_play_route_record_sensors" pkg="airsim" type="airsim_play_route_record_sensors.py" respawn="false" output="screen">

            <rosparam param="rate" subst_value="True">$(arg rate)</rosparam>

            <param name="ip" type="string" value="$(arg ip)" />

            <rosparam param="toggle_drone" subst_value="True">$(arg toggle_drone)</rosparam>

            <rosparam param="vehicle_name" subst_value="True">$(arg vehicle_name)</rosparam>
            <rosparam param="vehicle_base_frame" subst_value="True">$(arg vehicle_base_frame)</rosparam>   

            <rosparam param="pose_topic" subst_value="True">$(arg pose_topic)</rosparam>
            <rosparam param="pose_frame" subst_value="True">$(arg pose_frame)</rosparam>

            <rosparam param="route_rosbag" subst_value="True">$(arg route_rosbag)</rosparam>
            <rosparam param="merged_rosbag" subst_value="True">$(arg merged_rosbag)</rosparam>

            <rosparam param="sensor_echo_names" subst_value="True">$(arg sensor_echo_names)</rosparam>
            <rosparam param="sensor_echo_topics" subst_value="True">$(arg sensor_echo_topics)</rosparam>
            <rosparam param="sensor_echo_frames" subst_value="True">$(arg sensor_echo_frames)</rosparam>

            <rosparam param="sensor_lidar_names" subst_value="True">$(arg sensor_lidar_names)</rosparam>
            <rosparam param="sensor_lidar_toggle_groundtruth" subst_value="True">$(arg sensor_lidar_toggle_groundtruth)</rosparam>
            <rosparam param="sensor_lidar_topics" subst_value="True">$(arg sensor_lidar_topics)</rosparam>
            <rosparam param="sensor_lidar_segmentation_topics" subst_value="True">$(arg sensor_lidar_segmentation_topics)</rosparam>
            <rosparam param="sensor_lidar_frames" subst_value="True">$(arg sensor_lidar_frames)</rosparam>

            <rosparam param="sensor_gpulidar_names" subst_value="True">$(arg sensor_gpulidar_names)</rosparam>
            <rosparam param="sensor_gpulidar_topics" subst_value="True">$(arg sensor_gpulidar_topics)</rosparam>
            <rosparam param="sensor_gpulidar_frames" subst_value="True">$(arg sensor_gpulidar_frames)</rosparam>

            <rosparam param="sensor_uwb_names" subst_value="True">$(arg sensor_uwb_names)</rosparam>
            <rosparam param="sensor_uwb_topic" subst_value="True">$(arg sensor_uwb_topic)</rosparam>
            <rosparam param="sensor_uwb_frames" subst_value="True">$(arg sensor_uwb_frames)</rosparam>

            <rosparam param="sensor_wifi_names" subst_value="True">$(arg sensor_wifi_names)</rosparam>
            <rosparam param="sensor_wifi_topic" subst_value="True">$(arg sensor_wifi_topic)</rosparam>
            <rosparam param="sensor_wifi_frames" subst_value="True">$(arg sensor_wifi_frames)</rosparam>

            <rosparam param="sensor_camera_names" subst_value="True">$(arg sensor_camera_names)</rosparam>
            <rosparam param="sensor_camera_toggle_scene_mono" subst_value="True">$(arg sensor_camera_toggle_scene_mono)</rosparam>
            <rosparam param="sensor_camera_scene_quality" subst_value="True">$(arg sensor_camera_scene_quality)</rosparam>
            <rosparam param="sensor_camera_toggle_segmentation" subst_value="True">$(arg sensor_camera_toggle_segmentation)</rosparam>
            <rosparam param="sensor_camera_toggle_depth" subst_value="True">$(arg sensor_camera_toggle_depth)</rosparam>
            <rosparam param="sensor_camera_scene_topics" subst_value="True">$(arg sensor_camera_scene_topics)</rosparam>
            <rosparam param="sensor_camera_segmentation_topics" subst_value="True">$(arg sensor_camera_segmentation_topics)</rosparam>
            <rosparam param="sensor_camera_depth_topics" subst_value="True">$(arg sensor_camera_depth_topics)</rosparam>
            <rosparam param="sensor_camera_frames" subst_value="True">$(arg sensor_camera_frames)</rosparam>
            <rosparam param="sensor_camera_optical_frames" subst_value="True">$(arg sensor_camera_optical_frames)</rosparam>
            <rosparam param="sensor_camera_toggle_camera_info" subst_value="True">$(arg sensor_camera_toggle_camera_info)</rosparam>
            <rosparam param="sensor_camera_info_topics" subst_value="True">$(arg sensor_camera_info_topics)</rosparam>
            <rosparam param="sensor_stereo_enable" subst_value="True">$(arg sensor_stereo_enable)</rosparam>

            <rosparam param="object_poses_all" subst_value="True">$(arg object_poses_all)</rosparam>
            <rosparam param="object_poses_all_coordinates_local" subst_value="True">$(arg object_poses_all_coordinates_local)</rosparam>
            <rosparam param="object_poses_all_topic" subst_value="True">$(arg object_poses_all_topic)</rosparam>

            <rosparam param="object_poses_individual_names" subst_value="True">$(arg object_poses_individual_names)</rosparam>
            <rosparam param="object_poses_individual_coordinates_local" subst_value="True">$(arg object_poses_individual_coordinates_local)</rosparam>
            <rosparam param="object_poses_individual_topics" subst_value="True">$(arg object_poses_individual_topics)</rosparam>
      </node>
</launch>
